<div class="container-fluid animated fadeIn slow" *ngIf="loginService.kioscoActivo">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">

        <div class="container">
          <div class="row" id="row-img-logo">
            <div class="col-md-12 text-center">
              <img src="assets/images/fotos_empleados/logodesigner-dark-xl.png" id="img-logo" class="img-fluid"
                width="40%" />
            </div>
          </div>
          <br />
          <br />

          <div class="row">

            <div class="col-md-9 col-lg-8 mx-auto">
              <h5 id="msj" class="text-center text-danger" *ngIf="this.usuarioService.isUserLoggedIn!=true">
                {{validaParametroGrupo}}</h5>
              <h6 class="text-center" >Inicie sesión para consultar sus datos de personal.</h6>
              <br>

              <form [formGroup]="formulario" 
                class="needs-validation">
                <div class="form-label-group">
                  <input formControlName='usuario' type="text" id="inputUsuario" name="inputUsuario"
                    class="form-control" placeholder="Usuario" required>
                  <label for="inputUsuario">Usuario</label>
                  <small *ngIf="formulario.get('usuario').invalid &&
                      formulario.get('usuario').touched" class="text-danger">
                    Digite un usuario válido
                  </small>
                </div>

                <div class="input-group">

                  <div class="form-label-group" style="width: 85%">
                    <input formControlName='clave' type="password" id="inputClave" name="inputClave"
                      class="form-control" style="border-radius: 25px 0px 0px 25px;" placeholder="clave" required>

                    <label for="inputClave">Clave</label>
                    <small *ngIf="formulario.get('clave').errors?.required &&
                          formulario.get('clave').touched" class="text-danger">
                      Digite su clave
                    </small>
                  </div>
                  <div class="input-group-append" style="width: 15% !important">

                    <button id="show_password" class="btn btn-primary2" type="button" onclick="mostrarPassword()"
                      style="border-radius: 0px 25px 25px 0px; height: 40px; width: 100%;"> <span
                        class="fa fa-eye-slash icon"></span></button>
                  </div>

                </div>

                <!-----Si solo hay una empresa configurada se deshabilita la selección de empresa-->
                <!-- <div class="form-label-group" *ngIf="cadenasApp">
                  <select formControlName='empresa' class="form-control" id="SelectEmpresa" name="SelectEmpresa"
                    [disabled]="cadenasApp.length==1">
                    <option value=null *ngIf="cadenasApp.length>1" [defaultSelected]="cadenasApp.length>1">Seleccione
                      una empresa</option>
                    <option *ngFor="let ck of cadenasApp" value="{{ck[2]}}" [defaultSelected]="cadenasApp.length==1">
                      {{ck[1]}}
                    </option>
                  </select>
                  <small *ngIf="formulario.get('empresa').errors?.required &&
                      formulario.get('empresa').touched" class="text-danger">
                    Seleccione su empresa
                  </small>
                </div> -->
                <div class="text-right mb-2">
                  <a class="small" href="#" [routerLink]="['/olvidoClave', grupoEmpresarial]">¿Olvidó su clave?</a>
                </div>

                <button class="btn btn-lg btn-primary2 btn-block btn-login text-uppercase font-weight-bold mb-2"
                  (click)="enviar();" >Ingresar</button>

                <!-- <button class="btn btn-lg btn-primary2 btn-block btn-login text-uppercase font-weight-bold mb-2"
                  type="button" *ngIf="cadenasApp==null" disabled>
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Cargando...
                </button> -->

                <div class="text-center">
                  <a class="small" href="#" [routerLink]="['/registro', grupoEmpresarial]">¿No tiene una cuenta?
                    Registrarse</a>
                </div>

              </form>

              <br>

              <div class="d-md-flex align-items-center justify-content-center d-flex align-items-center"
                id="contentRedesSociales">
                <div class="d-flex align-items-center">
                  <a class="btn btn-social-icon btn-facebook btn-red-social-login text-white"
                    href="https://www.facebook.com/nominads" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </div>
                <div class="d-flex align-items-center">
                  <a class="btn btn-social-icon btn-youtube btn-red-social-login text-white"
                    href="https://www.youtube.com/user/nominads" target="_blank">
                    <i class="fab fa-youtube"></i>
                  </a>
                </div>
                <div class="d-flex align-items-center">
                  <a class="btn btn-social-icon btn-twitter btn-red-social-login text-white"
                    href="https://twitter.com/NominaDesigner" target="_blank">
                    <i class="fab fa-twitter"></i>
                  </a>
                </div>


              </div>

              <div *ngIf="false" class="d-md-flex align-items-center justify-content-center d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <a class="small" routerLink="/FAQ1"> Preguntas frecuentes
                  </a>&nbsp;|&nbsp; <a class="small" (click)="mostrarModalContacto()"
                    style="cursor: pointer; color: #017CFF">Contacto</a>
                </div>
              </div>


            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>



<!-- Modal Contacto -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Contacto Soporte</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Si tiene alguna inquietud o presenta algún error respecto al módulo Kiosco puede contactarse con:

        <div class="form-group row">
          <label for="staticNombre" class="col-sm-2 col-form-label">Nombre</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticNombre" value="Yady Villareal">
          </div>

          <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="rrhh@nomina.com.co">
          </div>

          <label for="staticTelefono" class="col-sm-2 col-form-label">Telefono:</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticTelefono" value="7475043">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<div class="container-scroller" *ngIf="!loginService.kioscoActivo">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center text-center error-page bg-dark">
      <div class="row flex-grow">
        <div class="col-12">
          <img loading="lazy" src="assets/images/fotos_empleados/logodesigner-light-xl.png" class="img-fluid" />
        </div>
        <div class="col-lg-7 mx-auto text-white">
          <div class="row align-items-center d-flex flex-row">
            <div class="col-lg-6 text-lg-right pr-lg-4">
              <h1 class="display-1 mb-0">

                <img src="./../../../assets/images/fds2.gif">
              </h1>
            </div>
            <div class="col-lg-6 error-page-divider text-lg-left pl-lg-4">
              <h2>¡Página fuera de servicio!</h2>
              <h3 class="font-weight-light">
                Lamentamos los inconvenientes.</h3>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-12 text-center mt-xl-2">
              {{loginService.mensajeKioscoInactivo || 'El Kiosco se encuentra en mantenimiento, por favor inténtelo de
              nuevo más tarde.'}}
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-12 mt-xl-2">
              <p class="text-white font-weight-medium text-center">Copyright &copy; 2020 All rights reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>